<!doctype html>
<html>

<head>
	<title>Week 9 Assignment - Database interactions and UI</title>
	<link rel="stylesheet" href="./dist/css/bootstrap.css">
	<link rel="stylesheet" href="./dist/css/bootstrap-datepicker.css">
	<script src="./dist/jquery.min.js"></script>
	<script src="./dist/js/bootstrap.js"></script>
	<script src="./dist/js/bootstrap-datepicker.min.js"></script>
	<script src="./dist/handlebars.runtime.js"></script>
	<script src="prerenderedPartials.js"></script>

</head>

<body>
	<div class="container">
		{{{body}}}
	</div>
</body>

</html>